<!DOCTYPE html>
<html>
	<title>{% block title %}{% endblock %}</title>
        {% block links %} {% endblock %}
</html>

<body>
{% if message is defined %}
    <div id ="error">
         MENSAJE : {{ message }}
    </div>
    
{% endif %}
<div id="content">
{% block content %}

{% endblock %}
</div>
</body>